* {
  box-sizing: border-box;
}

body {
  background-color: goldenrod;
  text-align: center;
  justify-content: center;
}
.wrapper {
  display: block;
}
h2 {
  color: brown;
  }
.input-group {

}
.input-box {
  width: 100%;
  padding: 8px 12px;
  margin: 6px 0;
  box-sizing: border-box;
}
button {
  background-color: brown;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
}